<h1> Add a New Book</h1>

<% if @book.errors.any? %>
	<h2>Failed to add new book!</h2>
	<ul>
	<% @book.errors.full_messages.each do |error_msg| %>
		<li><%= error_msg %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @book do |f| %>
	<%= f.label :title %> 
	<%= f.text_field :title %> <br/>

	<%= f.label :description %> 
	<%= f.text_field :description %> <br/>

	<%= f.label :url %> 
	<%= f.url_field :url %> <br/>

	<%= f.submit "Add Book" %> <br/>
<%end%>

